body{
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #616161, #9bc5c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9c3b3b, #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-height: 100%;
    overflow: hidden;
}

.land{
    width: 100%;
    margin: auto;
}

.landingGrid{
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatarImage{
    height: 350px;
    margin: 40px 40px 10px 40px;
    border: 3px solid rgba(255,255,255, 0.6);
    border-radius: 100%;
    background: black;
}

.fullName{
    font-size: 50px;
    padding: 0;
    color: #1C3334;
    margin: 0px;
}

.socialNavGrid{
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}

.social-nav{
    width: 40%;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin-left: 30%;
}

.social-icon{
    color: white;
    opacity: 0.6;
    text-shadow: 1px 1px 1px #ccc;
}