body{
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #616161, #9bc5c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #616161, #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-height: 100%;
    overflow: hidden;
}

.land{
    width: 100%;
    margin: auto;
}

.landingGrid{
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatarImage{
    height: 390px;
    margin: 40px 40px 10px 40px;
    border: 2px solid black;
    border-radius: 100%;
    background: black;
}
